@model TourneyTracker.Models.Tournament.CreateTournamentViewModel

<h1>Create Tournament</h1>

@using (Html.BeginForm("SubmitTournament", "Tournament", FormMethod.Post, new { Class = "form-horizontal" }))
{
    <div id="createForm" class="row">
        <div class="col-lg-6">
            <div class="well bs-component">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Create Tournament</legend>
                        <div class="form-group">
                            <div class="col-lg-2">
                                @Html.LabelFor(m => m.TournamentName, "Name", new { @class = "control-label" })
                            </div>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.TournamentName, new { @class = "form-control", @placeholder = "Name", @type = "text", required = true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-2">
                                @Html.LabelFor(m => m.TournamentType, "Type", new { @class = "control-label" })
                            </div>
                            <div class="col-lg-10">
                                @Html.DropDownListFor(m => m.TournamentType, Model.TournamentTypes, "Choose a tournament type", new { @class = "form-control", required=true })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-2">
                                @Html.LabelFor(m => m.TournamentTag, "Tag", new { @class = "control-label" })
                            </div>
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.TournamentTag, new { @class = "form-control", @placeholder = "Tag", @type = "text" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                @Html.ActionLink("Cancel", "Index", "Tournament", new { @type = "button", @class = "btn btn-default" })
                                <button type="submit" class="btn btn-primary submitButton">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well bs-component">
                <form class="form-horizontal">
                    <fieldset>
                        <div id="participantTable">
                            @Html.Partial("~/Views/Tournament/Partial/_ParticipantTable.cshtml", Model)
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $('body').on('click', '.addParticipant', function () {
        var participantName = $('#inputName').val();
        if (jQuery.trim(participantName).length != 0) {
            $.ajax({
                url: '@Url.Action("AddParticipant","Tournament")',
                data: $('#createForm :input').serialize() + '&participantName=' + participantName,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#participantTable').html(data);
                }
            });
        }
        else {
            //name is only spaces or nothing so error message
        }
    });

    $('body').on('click', '.deleteParticipant', function () {
        var participantName = $(this).parent().parent().find('.participantName').val();
        $.ajax({
            url: '@Url.Action("RemoveParticipant","Tournament")',
            data: $('#createForm :input').serialize() + '&participantName=' + participantName,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#participantTable').html(data);
            }
        });
    });
</script>


<style>
    .hover {
        cursor: pointer;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    thead {
        text-align: left;
        display: table;
        float: left;
        width: 100%;
    }

        thead tr {
            display: table-row;
            width: 100%;
        }

    tbody {
        display: block;
        height: 250px;
        overflow: auto;
        float: left;
        width: 100%;
    }

        tbody tr {
            display: table;
            width: 100%;
        }

        tbody tr {
            height: 18px;
        }

        tbody td {
            padding: 1px 8px;
        }

    th, td {
        width: 25%;
    }

    tr:after { /* IE8 fix */
        content: ".";
        margin-left: -3px; /* to hide the content above tr */ /* not necessary if you are ok with 1px gap */
        visibility: hidden;
    }
</style>
